Language: Cpp
BasedOnStyle: Google

ColumnLimit: 100
AccessModifierOffset: -2
IndentWidth: 2
ContinuationIndentWidth: 4

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: AlignAfterOperator
AlignEscapedNewlines: LeftWithLastLine

AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: True
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: False
AllowShortLambdasOnASingleLine: All
AllowAllArgumentsOnNextLine: False
AllowAllParametersOfDeclarationOnNextLine: False
InsertBraces: False

SpaceBeforeCpp11BracedList: false
SpaceAfterTemplateKeyword: false

BreakAfterAttributes: Leave

BinPackArguments: True
BinPackParameters: True
PackConstructorInitializers: CurrentLine

MaxEmptyLinesToKeep: 2
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: true
  AtStartOfFile: true

Cpp11BracedListStyle: True
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
SeparateDefinitionBlocks: Always
UseTab: Never
PenaltyBreakAssignment: 100

IndentPPDirectives: BeforeHash
FixNamespaceComments: true