Language: Cpp
BasedOnStyle: Google

ColumnLimit: 100
AccessModifierOffset: -2
IndentWidth: 2
ContinuationIndentWidth: 4

# AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: True
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: False
AllowAllArgumentsOnNextLine: False
AllowAllParametersOfDeclarationOnNextLine: False
InsertBraces: False

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: AlignAfterOperator
# AlignArrayOfStructures: Right

BinPackArguments: False
BinPackParameters: False

BreakAfterAttributes: Leave
Cpp11BracedListStyle: True
PackConstructorInitializers: CurrentLine
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
SpaceBeforeCpp11BracedList: False
SeparateDefinitionBlocks: Always
UseTab: Never
PenaltyBreakAssignment: 100
