Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -2
AllowShortEnumsOnASingleLine: False
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowAllArgumentsOnNextLine: False
AllowAllParametersOfDeclarationOnNextLine: False
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: Align
BinPackArguments: False
BinPackParameters: False
ColumnLimit:     100
Cpp11BracedListStyle: True
IndentWidth:     4
InsertBraces: True
PackConstructorInitializers: CurrentLine
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
SpaceBeforeCpp11BracedList: False
SeparateDefinitionBlocks: Always
UseTab: Never
PenaltyBreakAssignment: 100